
@font-face {
    font-family: "afacadflux";
    src: url("../font/afacadflux.ttf") format("truetype");
}

footer{
    margin:  0;
    font-size: 14px;
    background-color: #000;
    line-height: 1.6;
    text-align: center;
    padding: 30px;
    
}

@media screen and (max-width: 1000px) {
    footer{
        padding: 10px;
        
    }
    
}

a{
    color: #fff;
}
.font-green-color {
    color: #A7CF45
}

.font-dark-color {
    color: #2C3E50
}

.font-white-color {
    color: #FFF
}

.font-red-color {
    color: #E74C3C
}

.font-blue-color {
    color: #3498DB
}

.font-orange-color {
    color: #F39C12
}

.bg-green {
    background-color: #A7CF45
}

.bg-dark {
    background-color: #2C3E50
}

.bg-white {
    background-color: #FFF
}

.bg-red {
    background-color: #E74C3C
}

.bg-blue {
    background-color: #3498DB
}

.bg-orange {
    background-color: #F39C12
}



.font-small {
    font-size: 16px;
    font-weight: bold
}

.font-middle {
    font-size: 18px;
    font-weight: bold
}

.font-large {
    font-size: 20px;
    font-weight: bold
}

.font-very-large {
    font-size: 30px;
    font-weight: bold
}

html {
    font-family: afacadflux;
    background-color: #ccc;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1200px;
    margin: 0 auto
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%
    }

    h1{
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }

    h3{
        font-size: 18px;
    }

}

header {
    width: 100%;
    height: 60px;
    left: 0;
    transition: height 0.3s ease;
    background-color: transparent;
}

#headerNav {
    transition: background-color 0.3s ease; /* Smooth transition for header background */
}

nav {

    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    transition: height 0.3s ease;
}

.logo img {
    height: 40px;
    transition: height 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    transition: background-color 0.3s ease; 

}


.nav-links li {
    margin-right: 30px;
    background-color: transparent;
    /* transition: background-color 0.3s ease, border 0.3s ease; */
}

.nav-links li a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.nav-links li a:hover {
    color: #E74C3C;
}


@media (max-width: 480px) {

    .logo img {
        display: none;
    }

    nav {

        height: 60px;
        display: block;

    }

    .nav-links {
        display: block;
        width: 100%; 
    }

    .nav-links>li:not(:first-child) {
        padding: 10px;
        width: 100%;

    }

    .nav-links>li:first-child {
        margin-top: 15px;
        margin-right: 8px;
        padding: 0;
        position: fixed;
        display: block;
        background-image: url("../img/hamburger_black.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
    }

}


.billboard {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/billboard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease;
}

.billboard2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/billboard2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;

}
.subbillboard {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    color: #fff;
}
.billboard-title {
    font-size: 70px;
}

.billboard-desc {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 18px;
}

.subbillboard >  div {
    display: flex;


}

@media (max-width: 480px) {

    .billboard-title {
        width: 100%;
        margin-top: 40px;
        padding: 10px;
        font-size: 30px;
     
        text-align: center;
    }

    .billboard-desc {
        width: 100%;

        line-height: 1.5;
        font-size: 16px;
        padding: 10px;text-align: center;
    }

    .billboard-button{
        width: 100%;
        text-align: center;
    }
    .billboard-mascot img{
        width: 100%;
        height: auto;
        padding: 40px;
    }
    .subbillboard div {
        display: inline-block;

    }



  
}

.button-blue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.button-blue:hover {
    background-color: #2976aa;
}

.button-red {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E74C3C;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.button-red:hover {
    background-color: #C0392B;
}

@media (max-width: 480px) {

    .button-red,.button-blue{
        width: 100%;
    }
}

.flex-container {

    padding: 0;
    margin: 10px 0 10px 0;
    justify-content: center;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;


}


.flex-item {
    border-radius: 2%;
    margin: 8px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-item .desc {
    padding: 8px;
    word-wrap: break-word;
    width: 300px;
}

.flex-item .desc button {
    margin-top: 10px
}

.flex-item .desc h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.flex-item .thumbnail {
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1000px) {
    .flex-item {
        margin: 10px 0 0 0;
        text-align: center;
        width: 95%
    }

    .flex-item .thumbnail {
        width: 100%;
        display: block
    }

    .flex-item .desc {
        padding: 0;
        width: 100%
    }
}

.founder-container{
    padding: 30px;
}
#founder {
    display: flex;
    width: 100%;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#photo {
    border-radius: 9px 0 0 9px;
    background-image: url('../img/dev.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#quot {
    flex: 1;
    background-color: #3498DB;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 9px 9px 0;
}

#quot div:first-child{
    font-size: 25px;
}


#quot div:not(:first-child){
    font-size: 16px;
}


.title{
    padding: 20px;
    text-align: center;
    background-color: #2976aa;
    color: #ffffff;
}
@media (max-width: 480px) {

    .founder-container{
        padding: 10px;
    }

    #photo {

        width: 100px;
        height: 150px;
    }

    #quot {
        flex: 1;
        background-color: #3498DB;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #quot div:first-child{
        font-size: 16px;
    }

    #quot div:not(:first-child){
        display: none;
    }
}

.skill_container{
    width: 300px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.skill_container > div:first-child{
    width: 50px;
    text-align: center;
}
.skill_container > div:last-child{
    padding: 8px;
    flex: 1;

}

.progressbar {
    background-color: #2c3840;
    border-radius: 13px;
    padding: 3px;
}

.progressbar>div {
    background-color: #F39C12;
    height: 10px;
    border-radius: 10px;
}

.log-parent{
    padding: 30px;
}
.log-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.log-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.log-details {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.6;
}

@media (max-width: 480px) {
    .log-parent{
        padding: 10px;
    }
}

.icon-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
}

@media (max-width: 480px) {
    .icon-container {
        padding: 10px;
        font-size: 30px;
    }
    
}

#warning {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6666;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white; 
    margin: 0 10px;
}

.divider span {
    color: #d0d1ff; 
    font-size: 14px;
    letter-spacing: 2px;
}

.tech-logos {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-logos > img {
    height: 50px;
    margin: 20px;
}


@media (max-width: 480px) {

    .tech-logos {
        padding: 10px;
        display: inline;
    }

    .tech-logos > img {
        height: 30px;
        margin: 10px;
    }
    
}